@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
main{
}

header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.navegacao {
    position: absolute;
    right: 0px;
    top: 110px;
}
.navegacao li{
    display: inline;
    list-style: none;
    margin-left: 30px ;
}
.navegacao a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.navegacao a:hover{
    color: #C79c;
    text-decoration: underline; }


footer{
        text-align: center;
        background: url("img-barba/bg.jpg");
        padding: 40px 0;
}
    
.copyright{
        color: white;
        font-size: 13px;
        margin-top: 20px;
}
/* css da pagina inicial*/
.banner{
        width: 100%;
}

.titulo-principal{
       text-align: center;
       font-size: 2em;
       margin-bottom: 1em;
       clear:left ;
 }
 .utensilios{
     width: 120px;
     float: left ;
     margin: 0 20px 20px 0;
 }
 .principal{
     padding: 3em 0;
     background-color: #FEFEFE ;
     width: 940px;
     margin: 0 auto;
 }
 .principal p{
     margin-bottom: 1em;
 }

 .principal strong{
     font-weight: bold;
 }
 .principal em {
     font-style: italic;
     font-size: 1em;
 }
 .mapa {
    padding: 3em 0;
    background-image: linear-gradient(to left, rgb(138, 134, 134), rgb(102, 102, 105), rgb(73, 70, 70));
    
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

 .conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
 }
 .lista-beneficios{
     width: 40%;
     display: inline-block;
     vertical-align: top;
     list-style: none;
    
 }
.itens{
    line-height: 1.5em
}
.itens:first-child{
    font-weight: bold;
    
}
.imagem-beneficios{
    width: 60%;
    
 }
.beneficios{
    width: 3em 0;
    background-color: #888888;
}
 .video{
     width: 560px;
     margin: 2em auto;
 }